[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pollimetry"]
	path = pollimetry
	url = https://github.com/liamkendall/pollimetry
